<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedVision AI - Analyse d'Images Médicales</title>
    <link rel="stylesheet" href="accueil.css">
</head>
<body>
    <h1 class="p1">Connexion à MedAI</h1>

    <p>Vous avez besoin d'un diagnostic rapide et efficace ? </p>
    <p>L'IA de MedAI est faites pour vous ! </p>
    <p>Grâce à elle vous obtiendrez des informations sur tout vos Scanner/IRM </p>
    <p class="p1"> Entrer vos identifiants ou inscrivez vous gratuitement pour avoir accès à ce service </p>
</body>
</html>

        