<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MedVision AI - Analyse d'Images Médicales</title>
    <link rel="stylesheet" href="my_css.css">
</head>
<body>
    <h1>Portail d'inscription</h1>

    <p class="p1">Vous voulez faire partie de ceux qui se soucis réelement de leur santé ? </p>
    <p>inscrivez vous gratuitement pour avoir accès à toutes nos fonctionalité</p>

    <div class="wrapper">
        <div class="container">
            <h2>Inscription</h2>
            <form id="registerForm">
                <input type="text" name="register_username" placeholder="Nom d'utilisateur" required>
                <input type="password" name="register_password" placeholder="Mot de passe" required>
                <button type="submit">S'inscrire</button>
                <p id="register_error" class="error"></p>
            </form>
        </div>
    </div>
</body>
</html>
